.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 24px 0 12px;
}

.p-custom-btn {
    width: 121px;
    padding: 8px 0;
}

.custom-default {
    border: 1px solid transparent;
    outline: none;
}