.container {
  background-color: var(--primary-color);
  height: 77px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 30px;
    width: 140px;
  }

  &__nav-tag {
    margin-right: 42px;

    a {
      color: var(--white-color);
    }
  }

  &__navbar-toggle {
    color: white;
    width: 24px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__attribute {
    div {
      display: inline;

      a {
        text-decoration: none;
        font-size: 18px;
      }
    }
  }

  &__sign-in {
    margin-right: 8px;
    background-color: var(--white-color);
    color: var(--primary-color);
  }

  &__register {
    border: 1px solid var(--white-color);
    color: var(--white-color);
  }
}

.inactive {
  display: none;
}