.success {
    border: 2px solid var(--primary-color);
}

.info {
    border: 2px solid var(--blueB300-color);
}

.warning {
    border: 2px solid var(--yellow-color);
}

.error {
    border: 2px solid var(--negativeN500-color);
}

.toast {
    width: 100px;
    right: 100px;
    box-shadow: 0px 16px 20px -8px var(--boxShadow-color);
}